


body {
    font-family: "Poppins", sans-serif;
    background-color: #F4F3EA;
    margin: 0;
}

header a {
	text-decoration: none;
  }
  
  header {
	padding: 0 20px;
	height: 50px;
	display: flex;
	justify-content: space-between;
  }
  
  #brand {
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
  }
  
  #brand a {
	color: #333D51;
  }
  
  ul {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
  }
  
  ul a {
	color: #333D51;
  }
  
  ul li {
	padding: 5px;
	margin-left: 10px;
  }
  
  ul li:hover {
	transform: scale(1.1);
	transition: 0.3s;
  }
  
  
  #hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
  }
  
  #hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: #333D51;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
	opacity: 0;
  }
  
  .open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
  }
  
  .mobile-menu {
	  background-color: gainsboro;
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: calc(100vh - 50px);
	width: 100%;
  }
  
  .mobile-menu li {
	margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
	header nav {
	  display: none;
	}
  
	#hamburger-icon {
	  display: block;
	}
  }
/*nav bar*/

.news-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 16px;
    background: #003262;
    color: #73c2fb;
    padding: 10px 32px;
    display: flex;
    box-shadow: 0 4px 40px -8px rgb(0, 51, 98);
    overflow: hidden;
  }
  
  .news-container::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(transparent, #003262);
  }
  
  .news-container .news-heading {
    font-weight: bold;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #fff;
  }
  
  .news-container .news {
    position: relative;
    width: 100%;
  }
  
  .news-container .news-single {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-8px);
    transition: all 400ms ease;
    pointer-events: none;
  }
  
  .news-container .news-single.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

header {
    background-color: #ffffff;
    color: #676767;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #F4F3EA;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    overflow: hidden;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
    font-family: "Poppins";
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 10px;
}
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
section {
    padding: 20px;
}



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}



.container{
    width: 100vw;
    height: 100vh;
    display: flex;
	margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
	margin-left: 100px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content:flex-start;
	align-items:end;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #090088;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #090088;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #090088;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #010057, #02006c, #090088);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


footer {
    background: #003262;
    color: white;
    text-align: center;
    padding: 8px;
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}